.App {
  text-align: center;
  max-width: 500px;
}
.score-cards{
display: grid;
grid-template-columns: repeat(1, 1fr);

}
.card{
border: 3px solid black;
margin: 2rem;
}
p, h2{
  border-bottom: 3px solid red;
  
}
.card-container{
  border: 3px solid green;
}